li.clearfix(id='im_box_#{user["Uid"]}')
  .im_avatar
    img.namecard(src='images/user.avatar.png',alt='#{user["Uid"]}',uid='#{user["Uid"]}')
    |&nbsp;
    a.namecard(href='javascript:void(0);', uid='#{user["Uid"]}')
  .im_text
    .im_history
    .im_form
      .im_divider
        -if( user['Uid'] != myUid )
          a( href="javascript:show_im_all_history('#{user["Uid"]}','#{user["name"]}');void(0);", title="聊天记录" )
            i.icon-time
        -if( user['Uid'] == myUid )
          textarea.im_form_textarea( disabled="disabled", uid='#{user["Uid"]}', autofocus="autofocus" )
            亲，自言自语就不用发到服务器啦~
        -else
          textarea.im_form_textarea( placeholder="输入聊天文字，按回车键送出", uid='#{user["Uid"]}, autofocus="autofocus" )
      